.navbar {
  box-shadow: 0 8px 8px 1px;
  background: #f6f6f6;
  padding: 0px;
  margin-bottom: -16px;
}
.navbar .nav-item {
  font-size: 1.3rem;
}
.navbar .nav-item .nav-link {
  color: white;
}

.products {
  max-width: 100%;
  object-fit: fill;
  background-color: rgba(190, 190, 190, 0.23);
}

.container-aisles {
  background-color: rgba(0, 0, 0, 0.03);
  box-shadow: 0 8px 8px 0 rgba(17, 17, 17, 0.2);
  max-width: 100%;
  margin: 10px;
  text-align: center;
  object-fit: contain;
  overflow: hidden;
  display: inline-block;
}

.footer {
  padding-top: 20px;
  margin-top: 0px;
  overflow: auto;
  background-color: #343a40;
  text-align: right;
}

.clear-button-footer {
  color: white;
  border: none;
  padding: 0px;
  margin-left: 70px;
  margin-right: 70px;
  background: none;
  font-size: 20px;
}

.seperator {
  text-align: center;
  background-color: #343a40;
  color: #f6f6f6;
  padding-bottom: 5px;
  margin: 0px;
}

.container-aisles h1 {
  padding: 3px;
  background-color: #343a40;
  color: white;
}

.filler {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(54, 72, 89, 0.8);
  max-height: 250px;
}

.filler img {
  flex-shrink: 4;
  opacity: 100%;
}

.container-aisles p {
  font-weight: bold;
  text-align: left;
  color: #343a40;
  padding: 0px;
  margin: 0px;
}

.container-aisles button {
  border: none;
  min-width: 100%;
  background: none;
  font-size: 30px;
  border-color: #343a40;
  border: 2px solid;
  color: #343a40;
  margin-top: 10px;
}

.row {
  background-color: rgba(54, 72, 89, 0.8);
  max-width: 100%;
  margin: 0px;
}

.card {
  padding: 0px;
  margin: 5px;
  border: 2px solid #343a40;
  color: #343a40;
  object-fit: contain;
  max-width: 100%;
}

.card-body img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 2px solid #343a40;
  margin-bottom: 4px;
  background-color: #f6f6f6;
}

.card-header {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 81px;
}

.card-header h1 {
  width: 276px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
}
.card-body btn-dark btn-blockbtn {
  min-width: 100%;
}

#homepage .card {
  padding: 0px;
  max-width: 100%;
  max-height: 100%;
}

.input-group {
  max-width: 30%;
}

#productCC {
  background-color: #f6f6f6;
  overflow: hidden;
  object-fit: contain;
  border: 2px solid #343a40;
  color: #343a40;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
}

#productcc .card-body {
  border: 1px solid #343a40;
  padding: 0px;
}
